body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.name{
    font-size: xx-large;
    font-weight: bolder;
    color: rgba(221, 17, 136, 0.726);
}
.half-width{
    width: 40%;
    float: left;
    padding: 10px;
}
.half-width img{
    width: 100%;
    margin-top: 50px;
}
p{
    color: gray;
    font-size: 20px;
    text-align: justify;
}
.hire-me{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: rgba(221, 17, 136, 0.726);
    padding: 10px;
    border-radius: 10px;
}
.fixed-margin{
    margin-left: 150px;
    margin-top: 200px;
}
.fixed-margin1{
    margin-top: 200px;
    margin-left: 220px;
}
.resume{
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(221, 17, 136, 0.726);
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.header-part{
    height: 830px;
    padding-bottom: 150px;
    padding-right: 80px;
    background-image: url(images/header-bg.png);
    background-size: 100% ;
}
.middle-part{
    height: 830px;
    padding-bottom: 150px;
    padding-right: 80px;
    background-image: url(images/biography-bg.png);
    background-size: 100% 100%;
}
.latest{
    text-align: center;
    font-size: xx-large;
}
.picture{
    width: 25%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
    padding-top: 2%;
}
.third-part{
    height: 600px;
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    
}
.founder{
    text-align: center;
}
.lastone{
    height: 720px;
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
}
#founder{
    color: gray;
    font-weight: lighter;
}
.simply{
    text-align: center;
}
.box{
    margin-left: 30%;  
}
.message{
    text-align: center;
    color: white;
    border-radius: 15px;
    background-image: linear-gradient(90deg, rgb(248, 8, 168), rgb(252, 1, 76));
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}
.end{
    text-align: center;
    color: gray;
}